@import '../base/basestyle.scss';

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.menu, 
.menuHidden {
  animation: slideIn 0.1s 1;
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: $main-bg-color;
  width: 25%;
  min-width: 310px;
  font-size: $main-font-size;
  border-radius: $dialog-border-radius;
}

.menu {
  opacity: $dialog-standard-opacity;
}

.menuHidden {
  opacity: 0.25;
}

.header {
  padding: 10px;
  cursor: pointer;
  font-family: $main-fontfam;
  color: $secondary-font-color;
  display: flex;
  justify-content: space-between;
}
