@import '../base/basestyle.scss';

.menu, 
.menuHidden {
  position: fixed;
  top: 5px;
  left: 5px;
  background-color: $main-bg-color;
  width: 20%;
  min-width: 240px;
  font-size: $main-font-size;
}

.menu {
  opacity: 0.75;
}

.menuHidden {
  opacity: 0.25;
}

.header {
  padding: 10px;
  cursor: pointer;
  font-family: $main-fontfam;
  color: $secondary-font-color;
  display: flex;
  justify-content: space-between;
}
