$main-bg-color: #333;

$main-fontfam: 'Anonymous Pro', 'Roboto', 'Arial';
$main-font-color: #fff;
$main-font-size: 14px;
$secondary-font-color: #aaa;

$dialog-border-radius: 3px;
$dialog-standard-opacity: 0.85;
