@import '../base/basestyle.scss';

.item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: $main-fontfam;
  font-size: $main-font-size;
  color: $main-font-color;
}

.label {
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: auto 10px;
}