@import '../base/basestyle.scss';

.item {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  padding: auto 10px;

  font-family: $main-fontfam;
  font-size: $main-font-size;
  color: $main-font-color;
}

.itemTwoCol {
  justify-content: space-between;
}
.itemSingleCol {
  justify-content: center;
}

.label {
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: auto 0px;
}
